# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
.python-version
.venv/
venv/
.env
.env.*
*.egg-info/
dist/
build/
.coverage
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Node/Web
node_modules/
*.log

# Project
ledctl/uploads/*
!ledctl/uploads/.gitkeep
*.mp4
*.png
*.jpg
*.jpeg
*.gif

# IDE
.vscode/
.idea/
*.swp

