[Unit]
Description=LED Controller
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/ledctl
ExecStart=/usr/bin/python3 /home/pi/ledctl/app.py
Restart=always

[Install]
WantedBy=multi-user.target


